<%= form_for([:dashboard, @business_profile], url: dashboard_system_index_path) do |f| %>
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="card card-user">
          <div class="content text-center">
            <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
            <h4 class="title"><%= current_user.username %> ><br/>
              <a href="#">
                <small>@chetfaker</small>
              </a>
            </h4>s
          </div>
          <div class="text-center">
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <h5>12<br/>
                  <small>Files</small>
                </h5>
              </div>
              <div class="col-md-4">
                <h5>2GB<br/>
                  <small>Used</small>
                </h5>
              </div>
              <div class="col-md-3">
                <h5>24,6$<br/>
                  <small>Spent</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <%= render 'team' %>
      </div>
      <div class="col-lg-8 col-md-7">
        <%= render 'info' %>
      </div>
    </div>
<% end %>