<div class="alert alert-warning text-center">
  <%= t('This account has been suspended') %>
  <br/>
  <%= link_to t('Contact'),  company_page_path(:contact) %>
  <br/>
  <%= link_to t('Back'), root_path %>
</div>