<div class="row">
  <%= form_tag  dashboard_free_trial_path  do %>
      <div class="col-lg-12 text-center">
        <div class="text-center">
          <%= submit_tag t('Confirm Pro'), :class => 'btn btn-info btn-fill btn-wd' %>
        </div>
      </div>
  <% end %>
</div>