<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Pluto inc</h2>
                Pluto is a company which provides technologies solutions on healthcare, social and business.
				Pluto is based on Tunisia,
            </div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
				Pluto has been started since 2012, focus in critical problems that needs a big changes in tunisia and arab world, build bloodon to help people find blood donation. Now pluto make big changes as first food provider.
				Pluto also provides Pingo, a revolutionary way to socialize brand communication.
				Pluto works in providing high tech solution for education making the first robot for kids in tunisia.
				to concat pluto , please send us <a href="mailto:plutowaves@gmail.com">an email </a>
            </div>

        </div>
    </div>
