<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Pluto inc</h2>
                Pluto is a company which provides technologies solutions on healthcare, social and business.
				Pluto is based on Tunisia,
            </div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
				Pluto has been started since 2012, focus in critical domains area that needs a big changes in tunisia and arab world, has been failed to start a mooc solution for primary school students,
				pluto never give up, build bloodon to help people find blood donation. Now pluto make big changes for workers without internet connection,
				with OTO (online to offline) technology it helps workers to find jobs around them.
				Pluto also provides Gingo, a revolutionary way to socialize brand communication.

				Pluto now concentrate in providing high tech solution (ML, BI and IA), to enter agricultre and biothechnology.
				to concat pluto , please send us <a href="mailto:plutowaves@gmail.com">an email </a>
            </div>

        </div>
    </div>
