<%= javascript_include_tag 'about', 'data-turbolinks-track' => true %>
<div class="container">
  <div class="dashboad__sideBar col-lg-2">
       <ul class="dashboad-nav list-unstyled">
           <li class="dashboad-nav__item">
               <a href="/dashboard/products">Products</a>
           </li>
           <li class="dashboad-nav__item">
               <a href="/dashboard/users">Users</a>
           </li>
           <li class="dashboad-nav__item">
               <a href="/dashboard/events">Events</a>
           </li>
           <li class="dashboad-nav__item">
               <a href="/dashboard/webhooks">Webhooks</a>
           </li>
		   <li class="dashboad-nav__item">
               <a href="/dashboard/targetize">targetiZe</a>
           </li>
           <li class="dashboad-nav__item dashboad-nav__item--active">
               <a href="/dashboard/payment">Payment</a>
           </li>
       </ul>
  </div>   <!-- /#sidebar-wrapper -->
   <!-- Page Content -->
   <div class="col-lg-10 row">
      <div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
   </div>
       <!-- /#page-content-wrapper -->
</div>
