<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js" %>
<div id="map" class="map" style="border-bottom:none; height:100%; width:100%; position:absolute; top:0; left:0;"></div>
<div id="map_filter">
  <ul>
    <!--<li>-->
      <!--<a href="javascript:toggleMarkers('Historic');"><i class="icon_set_1_icon-44"></i><span>Historic Buildings</span></a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="javascript:toggleMarkers('Sightseeing');"><i class="icon_set_1_icon-3"></i><span>City sightseeing</span></a>-->
    <!--</li>-->
    <!--<li><a href="javascript:toggleMarkers('Museums');"><i class="icon_set_1_icon-4"></i><span>Museum</span></a></li>-->
    <!--<li><a href="javascript:toggleMarkers('Skyline');"><i class="icon_set_1_icon-28"></i><span>Skyline tours</span></a>-->
    <!--</li>-->
    <!--<li><a href="javascript:toggleMarkers('Eat_drink');"><i class="icon_set_1_icon-14"></i><span>Eat & Drink</span></a>-->
    <!--</li>-->
    <!--<li><a href="javascript:toggleMarkers('Walking');"><i class="icon_set_1_icon-37"></i><span>Walking tours</span></a>-->
    <!--</li>-->
    <!--<li><a href="javascript:toggleMarkers('Shops');"><i class="icon_set_1_icon-49"></i><span>Shops</span></a></li>-->
  </ul>
</div>