<style>
  main {
    width: 100% !important;
    margin-top: 0px !important;
  }
</style>

<div>
  <%= render partial: 'shared/requires_map_libs' %>
  <%= react_component('MapView') %>
</div>