<!--  login Section  -->
  <!-- -->
  <div class="AccountAuthenticationContainer Registration text-center">
    <article>
    <h2><%= I18n.t('Sign up') %></h2>

    <%= render 'devise/registrations/form' , { :style => 'page'}%>
      </article>
  </div>