@import "colors";
@import "mixins";

.Brand__Title {
  position: absolute;
  left: 25px;
  bottom: 75px;
  font-size: 25px;
  span {
    color: $color-white;
    background-color: $primary-color;
  }
}

.Brand__ShieldIcon {
  position: absolute;
  right: 5px;
  z-index: 1;
  top: 10px;
  color: white;
  i {
    color: $green;
  }
}

.Brand__FollowButton {
  border: none;
  right: 4px;
  position: relative;
  top: 3px;
  font-size: 25px;
  background-color: transparent;
  &.BrandCard__FollowButton--off {
    color: $primary-color;
  }
  &.BrandCard__FollowButton--on:hover {
    color: red;
  }
}

.BrandCard {
  margin: 12px;
  background: #FFF none repeat scroll 0% 0%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
  min-height: 200px;
  .icon {
    font-size: 25px;
  }
  .BrandCard__Title {
    @extend .Brand__Title;
  }
  .BrandCard__Verified {
    @extend .Brand__ShieldIcon;
    right: 19px;
    top: 15px;
    color: #45C632;
    font-size: 26px;
  }
  .BrandCard__Actions {
    min-height: 45px;
    border: solid 1px $primary-color;
    border-top: 0;
    border-radius: 0px 0px 6px 6px;
  }
  .BrandCard__ImageContainer {
    width: 100%;
    position: relative;
    .BrandCard__Image {
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-size: cover;
      max-height: 295px;
    }
  }

  .BrandCard__BrandImage {
    position: absolute;
    left: 5px;
    height: 70px;
    width: 70px;
    @include rounded(50%);
    top: 5px;
  }
  .BrandCard__ShareButton {
    right: 5px;
    @include rounded(50%);
    top: 5px;
  }

  .BrandCard__FollowButton {
    text-align: center;
    padding-left: 12px;
    padding-top: 1px;
    @extend .Brand__FollowButton;

  }

  .BrandCard__Followers {
    right: 10px;
    position: relative;
    top: 3px;
    font-size: 25px;
  }
}

.BrandDetails {
  position: relative;
  .BrandDetails_Header {
    position: relative;
  }
  .BrandDetails__Title {
    @extend .Brand__Title;
  }
  .BrandDetails__Verified {
    @extend .Brand__ShieldIcon;
    color: green;
    font-size: 20px;
  }
  .BrandDetails__Follow {
    @extend .Brand__FollowButton;
    right: 5px;
    position: absolute;
    bottom: 75px;
    top: auto;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 6px;
  }
  .nav-tabs {

    background-color: $color-white;
    left: 0px;
    bottom: 0px;
    border: 0px;
    li {
      a {
        color: $dark;
      }
      a:hover {
        a {
          text-decoration: none;
          background-color: transparent;
          border: none;
        }
      }
    }
    li {
      &.active {
        a {
          border: none;
          color: $primary-color;
          text-decoration: none;
        }
      }
    }
  }

  .BrandDetails__ImageContainer {
    height: 250px;
    overflow-y: hidden;
    @include rounded-top(2px);
    .BrandDetails__ImageCover {
      width: 100%;
      min-height: 250px;
    }
  }

}

.ProductCouponsList {
  .ProductCouponsList__Item {
    float: left;
    display: inline-block;
    width: 25%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    button {
      position: absolute;
      z-index: 2;
      left: 2%;
      bottom:  10px;
    }
  }
}
.BrandProfile__ReviewForm {
  padding: 7px 0px;
  textarea{
    width: 100%;
    padding: 5px;
    border : solid 1px $primary-color;
  }
}
.BrandProfile__InfoContainer{
  background: $color-white;
  padding: 4px;
  min-height: 250px;
  .BrandProfile__InfoItem {
    padding: 2px 5px;
    background-color: $primary-color;
    color: white;
    i {
      display: inline-block;
      border-radius: 15px;
    }
    a{
      color: $color-white;
    }
  }
}