/**
 * Define app main colors
 */
$primary-color: #ffb249;
$primary-color-transparent: rgba(255, 177, 74, 0.13);
$input-color: #232323;
$color-white : #fff ;
$color-red : #F00;
$dark : #307980 ;
$green : #12ff91;