// Place all the styles related to all forms controls
@import "colors";
@import "mixins";
input[type='checkbox'],
input[type='file']{
  border: none;

}
.AppButton {
  background-color: $primary-color;
  color : $color-white;
  padding: 8px;
  border-radius: 2px;
  border :none ;
  &:hover{
    color : $color-white;
  }
}

.businessLink {
  background-color: red;
  padding: 2px 4px;
  color : $color-white  !important;
  &:hover{
    text-decoration: none;
  }
}
.AppTitle {
  color: $primary-color;
  font-size: 25px;
  text-decoration: underline;
  margin: 10px 0px 10px 0px;
}
.NoticeInfo {
  margin: 5px 0px;
  padding: 4px 5px;
  font-weight: bold;
  color : $primary-color;
  &.Danger {
    color: red;
  }

}