@import "colors";
@import "mixins";
footer {
  padding-top: 15px;
  padding-bottom: 5px;
  .Footer__Copy {
    padding: 5px 10px;
    color : $color-white;
  }
  .Footer__Bottom {
    font-size: 10px;
    .Footer__BottomNotice a{
      color: $primary-color;
    }
  }
  .Footer__CompanyLinksContainer {
    a{
      color : $primary-color;
      margin-right: 10px;
      font-size: 14px;
      &:hover {
        text-decoration: none;
        //font-size: 16px;
      }

      &.Footer__SocialLink {
        padding: 0px;
        margin: 4px;
      }
    }

    .LanguagesSelector {
      display: inline-block;
      form{
        display: inline-block;
      }
      button{
        border-radius: 50%;
        width:30px;
        height:30px;
        border :none;
        text-decoration: none;
        color : $primary-color;
      }
      button[disabled=disabled]{
        color : gray;
      }
    }
    .Footer__CompanySeparator {
      float: left;
    }
  }
}