// Place all the styles related to authentication section
@import "colors";

#categories_carousel {
  direction: ltr !important;
  .item {
    cursor: pointer;
    padding: 20px 0px;
    margin: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    color: white;
    &.clicked {
      color: $primary-color;
      background: $color-white;

    }
    text-transform: lowercase;
    i {
      font-size: 25px;
    }
  }
  .owl-wrapper-outer {
    background-color: $primary-color;
  }
  .owl-page {
    span {
      background-color: $primary-color;
    }
  }
}

.customNavigation {
  text-align: center;
}

//use styles below to disable ugly selection
.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}