// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import "mixins";
.ProductDetails__Menu {
  position: absolute;
  z-index: 2;
  padding: 7px;
  right: 0px;
  .i {
    color : orange;
  }
}
.ProductDetails {
  position: relative;
  .ProductCard__BrandImageContainer {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;

    }
  }
  .nav-tabs {

    background-color: $color-white;
    left: 0px;
    bottom: 0px;
    border: 0px;
    li {
      a {
        color: $dark;
      }
      a:hover {
        a {
          text-decoration: none;
          background-color: transparent;
          border: none;
        }
      }
    }
    li {
      &.active {
        a {
          border: none;
          color: $primary-color;
          text-decoration: none;
        }
      }
    }
  }

  .ProductDetails__Cover {
    background-size: cover;
    background: transparent linear-gradient(to left, $primary-color, $color-white) repeat scroll 0% 0%;
    border-top-left-radius: 2px;
    padding: 0px;
    min-height: 250px;
    position: relative;
    .ProductDetails__BaseImage {
      width: 100%;
      min-height: 250px;
    }

    .ProductDetails__Name {
      color: $color-white;
      position: absolute;
      left: 10px;
      top: 10px;

    }

    .ProductDetails__Stats {
      color: $color-white;
      position: absolute;
      left: 10px;
      bottom: 10px;
      .DayTimer {
        background-color: $color-white;
        padding: 0px 10px;
        border: none;
        #pageTimer {
          font-size: 10px;
        }
      }

    }
  }

}

.ProductDetails__BrandImage {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}

.Product_GalleryThumbnails {
  -webkit-box-shadow: -2px 0px 5px 0px rgba(153, 156, 137, 1);
  -moz-box-shadow: -2px 0 5px 0px rgba(153, 156, 137, 1);
  box-shadow: -2px 0 5px 0 rgba(153, 156, 137, 0.5);
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: #1b6d85;
  padding: 6px;
  text-align: center;
  img {
    height: 50px;
    width: 50px;
    border-radius: 2px;
    margin: 2px;

    cursor: pointer;
    border-top: solid 1px $color-white;
  }
  img:last-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: solid 1px $color-white;
  }
}

.ProductListContainerLeft, .ProductListContainerRight {
  width: 50%;
  display: inline-block;
}

.ProductCardLisContainer {
  position: relative;
  margin-top: 22px;
  height: 100%;
  .ProductCardLisContainerEmpty {
    height: 50px;
    color: $color-white;
    text-align: center;
    background: $primary-color;

  }
}

.ProductCardContainer {
  margin-top: 5px;
  padding: 5px;
}

.ProductCard {
  position: relative;
  margin: 10px 1px;

  background: #FFF none repeat scroll 0% 0%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
  min-height: 200px;
  .ProductCard__Header{
    position: relative;
    height: 50px;
  }
  .icon {
    font-size: 25px;
  }
  .ProductCard__Name {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 25px;
    color: $primary-color;
    &:hover {
      text-decoration: underline;
    }
  }

  .ProductCard__ImageContainer {
    width: 100%;
    position: relative;
  }
  .sixteen-nine {
    position: relative;
  }
  .sixteen-nine:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  .sixteen-nine > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .ProductCard__Image {
    width: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }

  .ProductCard__BrandImageContainer {
    position: absolute;
    left: 5px;
    img {
      height: 70px;
      width: 70px;
      background: transparent linear-gradient(to left, $primary-color, $color-white) repeat scroll 0% 0%;
      @include rounded(50%);

    }
    top: 5px;
  }
  .ProductCard__ShareButton {
    @include rounded(50%);
  }

  .ProductCard__WishButton {
    right: 40px;
    top: 5px;
    @include rounded(50%);
    &.ProductCard__WishButton--on {
      color: $primary-color;
    }

    &.ProductCard__WishButton--off {
      color: $color-red;
    }
  }
  .ProductCard__WishButton, .ProductCard__ShareButton, .ProductCard__ShowQrCodesButton {
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    padding-top: 1px;
    top: 5px;

  }
  .ProductCard__ShareButton, .ProductCard__ShowQrCodesButton {
    right: 5px;
    i {
      color: $primary-color
    }
  }
  .ProductCard__ShowQrCodesButton {
    right: 30px;

  }
  .ProductCard__Details {
    .Product_GalleryThumbnails {
      img {
        border: solid 1px $primary-color ;
      }
    }
    border-top: 0;
    border-radius: 0px 0px 6px 6px;
    min-height: 51px;
    .ProductCard__WishersList {
      padding: 6px;
      .ProductCard__WisherListItem {
        img {
          border: 1px solid $primary-color;
          @include rounded(50%);
          height: 38px;
          width: 38px;
          margin-left: 1px;
        }

      }
      .ProductCard__WisherListItem, .ProductCard__WishersListMore {
        color: $primary-color;
        float: left;
      }
      .ProductCard__WishersListMore {
        float: right;
        font-size: 16px;
        top: 8px;
      }
    }
  }
  .timer {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 15px;
    color: #fff;
    position: relative;
    padding: 5px 12px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.11);
    height: 15px;
    .progress-color {
      background-color: $primary-color;
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    .progress-text {
      position: absolute;
      z-index: 1;
      left: 50%;
      right: 50%;
      top: -2px;
    }
  }
}

.ProductWishersList {
  .ProductWishersList__Item {
    min-height: 30px;
    float: left;
    height: 80px;
    width: 20%;
    text-align: left;
    border-radius: 1px;
    border-right: solid 1px red;
    img {
      width: 50px;
      height: 50px;
      margin: 1px;
      border-radius: 50%;
    }
  }

}

.DayTimer {
  border: solid 1px $primary-color;
  text-align: center;
  background-color: white;
  margin-bottom: 15px;

  span {
    font-size: 25px;
    color: $primary-color;
  }
}

.ProductOfDay {
  height: 115px;
  border-radius: 4px;
  margin-bottom: 10px;
  left: 0px;
  right: 0px;
  border: solid 1px $primary-color;
  background-color: white;
  padding: 15px 20px;
  position: relative;
  overflow: hidden;
  .Block__Header{
    left: -48px;
    top: -13px;
    position: absolute;
    transform: rotate(-45deg);
    padding-top: 15px;
    span{
      padding: 10px 43px 5px;
    }
  }
  .ProductOfDay__Item {
    width: 20%;
    text-align: center;
    display: inline-block;
    .ProductOfDay__InnerItem {
      position: relative;
      width: 80px;
      height: 80px;
      margin: auto;
      border-radius: 50%;
      border: solid 2px $primary-color;
      .ProductOfDay__InnerItemVoteNumber{
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: $primary-color;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        border : solid 1px $color-white;
      }
      .ProductOfDay__InnerItemName{
        position: absolute;
        background-color: $primary-color;
        color : $color-white;
      }
    }
  }
}
.ProductOut {
  border-radius: 3px;
  border: solid 1px $primary-color;
  height: 100%;
  text-align: center;
  .title {
    margin : 4px ;
    color : $primary-color;
  }
  background-color: $color-white;
  .ProductOut__Brand {
    margin: 8px;
    image {

    }
  }
}