<section>
  <div class="BusinessCover">
    <div class="BusinessCover__TextContainer">
      <span class="BusinessCover__Text">
        <%= render 'features' %>
      </span>
    </div>
  </div>
</section>
