<!--  App Features Section  -->
<section class="app_features" id="app_features">
        <h4 class="sectionTitle"><%= I18n.t('app') %> </h4>
        <div class="text-center">
          <%= I18n.t('Features phrase') %>
        </div>
</section>
