<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title"><%= t('Notifications') %> </h4>
      </div>

      <div class="content table-responsive table-full-width">
        <table class="table table-striped">
          <% @notifications.each do |hook| %>
              <tr>

              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

</div>