<%= render partial: 'shared/requires_map_libs' %>
<div>
  <%= react_component('ProductShow', props={'id' => params[:id], 'activeTab' => @active_tab}) %>
</div>
<% unless @product.brand.cover.file.nil? %>
    <% content_for :outside_main do %>
        <img class="ProductDetails__BrandImage"
             src="<%= get_assets_url(@product.brand.cover.to_s) %>"
        />
    <% end %>
    <style>
      header {
        background-color: transparent !important;
      }
    </style>
<% end -%>