<p>Hello <%= @resource.email %>!</p>
<p>

  . لقد طلب شخص ما رابطا لتغيير كلمة المرور الخاصة بك. يمكنك القيام بذلك من خلال الرابط أدناه

</p>
<p><%= link_to t('Change my password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  إذا لم تطلب هذا، الرجاء تجاهل هذا البريد الإلكتروني.
</p>
<p>
.كلمة المرور الخاصة بك لن تتغير حتى تقوم وصول إلى الرابط أعلاه وإنشاء واحدة جديدة
</p>
