<% content_for :scripts do %>
    <% render partial: 'shared/requires_map_libs' %>
    <%= javascript_include_tag 'components/user/brands/index', "data-turbolinks-track" => true %>
    <script>
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-grey',
        radioClass: 'iradio_square-grey'
      });
    </script>
<% end %>

<section class="parallax-window" data-parallax="scroll" data-image-src="assets/brands/hotels_bg.jpg" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
      <h1>Paris Hotels</h1>
      <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
    </div>
  </div>
</section><!-- End section -->

<div id="position">
  <div class="container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><%= t('Brands') %></li>
    </ul>
  </div>
</div><!-- Position -->

<div class="collapse" id="collapseMap">
  <div id="map" class="map"></div>
</div><!-- End Map -->

<div class="container margin_60">

  <div class="row">
    <aside class="col-lg-3 col-md-3">
      <p>
        <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View
          on map</a>
      </p>
      <%= render :partial => 'web/brands/categories' %>
      <div id="filters_col">
        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters
          <i class="icon-plus-1 pull-right"></i></a>
        <div class="collapse" id="collapseFilters">
          <div class="filter_type">
            <h6>Star Category</h6>
            <ul>
              <li><label><input type="checkbox"><span class="rating">
						<i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i>
						</span>(15)</label></li>
              <li><label><input type="checkbox"><span class="rating">
						<i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81"></i>
						</span>(45)</label></li>
              <li><label><input type="checkbox"><span class="rating">
						<i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i>
						</span>(35)</label></li>
              <li><label><input type="checkbox"><span class="rating">
						<i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i>
						</span>(25)</label></li>
              <li><label><input type="checkbox"><span class="rating">
						<i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i>
						</span>(15)</label></li>
            </ul>
          </div>
          <div class="filter_type">
            <h6>Review Score</h6>
            <ul>
              <li><label><input type="checkbox">Superb: 9+ (77)</label></li>
              <li><label><input type="checkbox">Very good: 8+ (552)</label></li>
              <li><label><input type="checkbox">Good: 7+ (909)</label></li>
              <li><label><input type="checkbox">Pleasant: 6+ (1196)</label></li>
              <li><label><input type="checkbox">No rating (198)</label></li>
            </ul>
          </div>
          <div class="filter_type">
            <h6>Facility</h6>
            <ul>
              <li><label><input type="checkbox">Pet allowed</label></li>
              <li><label><input type="checkbox">Wifi</label></li>
              <li><label><input type="checkbox">Spa</label></li>
              <li><label><input type="checkbox">Restaurant</label></li>
              <li><label><input type="checkbox">Pool</label></li>
              <li><label><input type="checkbox">Parking</label></li>
              <li><label><input type="checkbox">Fitness center</label></li>
            </ul>
          </div>
          <div class="filter_type">
            <h6>District</h6>
            <ul>
              <li><label><input type="checkbox">Paris Centre</label></li>
              <li><label><input type="checkbox">La Defance</label></li>
              <li><label><input type="checkbox">La Marais</label></li>
              <li><label><input type="checkbox">Latin Quarter</label></li>
            </ul>
          </div>
        </div><!--End collapse -->
      </div><!--End filters col-->
      <div class="box_style_2">
        <i class="icon_set_1_icon-57"></i>
        <h4>Need <span>Help?</span></h4>
        <a href="tel://004542344599" class="phone">+45 423 445 99</a>
        <small>Monday to Friday 9.00am - 7.30pm</small>
      </div>
    </aside><!--End aside -->
    <div class="col-lg-9 col-md-8">

      <div id="list" class="clearfix">

      </div>
      <hr class="">

      <div class="text-center">
        <ul class="pagination">
          <li><a href="#">Prev</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div><!-- end pagination-->

    </div><!-- End col lg 9 -->
  </div><!-- End row -->
</div><!-- End container -->
<template>
  <div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.6s">
    <div class="tour_container">
      <div class="ribbon_3"><span>Top rated</span></div>
      <div class="img_container">
        <a href="single_restaurant.html">
          <img src="{{App.Helpers.getMediaUrl(cover.thumb.url)}}" width="100%"  class="img-responsive brand-image" alt="Image">
          <div class="short_info">
            <i class="{{category ? category.icon_class_name : ''}}"></i> {{App.Helpers.localize(category, 'name')}}<span class="price"><sup><i class=" icon-shop-1"></i></sup>{{stores.length}}</span>
          </div>
        </a>
      </div>
      <div class="tour_title">
        <h3><strong>{{name}}</strong></h3>
        <div class="rating">
          <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i>
          <small>(75)</small>
        </div><!-- end rating -->
        <div class="wishlist">
          <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
        </div><!-- End wish list-->
      </div>
    </div><!-- End box tour -->
  </div><!-- End col-md-6 -->
  <!--</div>&lt;!&ndash; End row &ndash;&gt;-->
</template>