<% render partial: 'shared/requires_map_libs' %>
<div>
  <%= react_component('BrandProfile', props={'id' => params[:id], 'activeTab' => @active_tab, 'cover' => get_assets_url(@brand.cover.to_s) }) %>
</div>