<div class="col-lg-3">
  <div class="EngineeringItem">Arch</div>
</div>
<div class="col-lg-3">
  <div class="EngineeringItem">Api</div>
</div>
<div class="col-lg-3">
  <div class="EngineeringItem">Vision</div>
</div>
<div class="col-lg-3">
  <div class="EngineeringItem">Stats</div>
</div>
<div class="col-lg-3">
  <div class="EngineeringItem">AI</div>
</div>
<div class="col-lg-3">
  <div class="EngineeringItem">Ads</div>
</div>
<div class="col-lg-3">
  <div class="EngineeringItem">Tips</div>
</div>
<div class="col-lg-3">
  <div class="EngineeringItem"><i class="ti-github"></i> </div>
</div>