<div>  * Free</br>
  Try it</div>
  <div>  * Standard</br> 10 $</br>
    Just works</div>
  <div>

        * Prop</br> 25 $</br>
        Ok, let's speak about Data
    </td>
  </div>
  <div>
    *Custom</br>,
    <%= link_to 'Contact us', '/company/contact', 'class' => 'app-button' %>
  </div>
