<div class="NoticeInfo Danger">
  * هذه المعلومات لن يشارك في أي حالة (بدون إذنك).
</div>

<div class="NoticeInfo">
  * يستخدم الهاتف للتأكد من الشخصية وترسل لك الرسائل القصيرة الترقيات.
</div>
<div class="NoticeInfo">
  * يستخدم العمر لتعزيز توصيات جهدنا لتوفير أفضل المنتجات ذات الصلة لك.
</div>
<div class="NoticeInfo">
  يستخدم عنوان للعثور على أقرب الترقيات وتخزين بالقرب منك.
</div>