<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title"><%= t('Users') %> </h4>
      </div>
      <div class="content">

        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <% @users.each do |hook| %>
                <tr>
                  <td><%= hook.account.username %></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>