<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="header">
          <div class="pull-right">
            <%= react_component('DashboardUsersViewMenu', stores: @stores.as_json, fullHeight: true) %>
          </div>
          <h4 class="title">Users</h4>
        </div>
      </div>
      <%= render 'shared/requires_map_libs' %>
      <div class="content">
        <%= react_component('DashboardUsersView', stores: @stores.as_json, fullHeight: true) %>
      </div>
    </div>
  </div>
</div>
