<!--  App Features Section  -->
	<section class="app_features" id="app_features">
		<div class="container">
			<div class="row text-center">
				<a href="/business/demo" class="app_store_btn text-uppercase animated wow fadeInLeft">

						<span>Demo with our data </span>
				</a>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".4s">
					<img src="/assets/welcome/f_icon1.png" alt="" title="">
					<h1 class="text-uppercase">Specify target.</h1>
					<p class="text-lowercase">Gingo know where, when and how and customer track you, share your product to the specific target.</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
					<img src="/assets/welcome/f_icon2.png" alt="" title="">
					<h1 class="text-uppercase">Analytics.</h1>
					<p class="text-lowercase">Track users behavior , accessibily in real time using our RT tools.</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay="0s">
					<img src="/assets/welcome/f_icon4.png" alt="" title="">
					<h1 class="text-uppercase">Predictions.</h1>
					<p class="text-lowercase">Build a digital customer model to learn how you customer behave</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".2s">
					<img src="/assets/welcome/f_icon6.png" alt="" title="">
					<h1 class="text-uppercase">Learn and engage your customers.</h1>
					<p class="text-lowercase">Gingo has data and wishes, we know when and why you need to target user A instead of B, just try it for free.</p>
				</div>
			</div>
		</div>
	</section>
