@import "colors";
.SectionPrices__Title {
  font-weight: bold;
  .SectionPrices__ItemContainerSoon {
    font-size: 10px;
  }
}
.SectionPrices__ItemContainer {
  width: 25%;

  &:first-child{
    table{
      text-align: left;
    }
      &, i {
        color : black;
      }

  }
  table {
    width: 100%;
    text-align: center;
    i {
      color: $primary-color;
      font-size: 25px;
    }
  }
  .SectionPrices--Disabled {
    i {
      color : #ccc5b9;
    }
  }
}
.sectionTitle {
  margin-bottom: 15px ;
  margin-top: 15px;
  color : $primary-color;
  font-size: 25px;
  text-decoration: underline;
  font-weight: bold;
}