
<!--  login Section  -->
<div class="AccountAuthenticationContainer text-center">
  <article>
    <!-- -->
    <h1><%= t('Request pending') %></h1>
    <p>
      <%= t('We will be in touch soon') %>
    </p>
    <%= link_to t('Home'), root_path %>
  </article>
</div>

