
  <!--  login Section  -->
  <div class="AccountAuthenticationContainer text-center">
    <article>
      <h2><%= I18n.t('Sign in') %></h2>
      <!-- -->
      <%= render "devise/sessions/form" , { :style => 'page'}%>
    </article>
  </div>

