<div class="col-lg-12 text-center">
  <%= link_to '/accounts/auth/facebook?scope=email,manage_pages', class: "btn SocialAuthenticationBtn" do %>
      <i class="ti-facebook"></i> <%= t("Sign in with Facebook") %>
  <% end %>
</div>