<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">
          <%= I18n.t('Api') %>
        </h4>
      </div>
      <div class="content">
        <%= link_to('Upgrade', dashboard_upgrade_form_path) %>
      </div>
    </div>
  </div>
</div>