<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table>

  <% @list.each do |account| %>
      <tr>
        <td><%= account.username %></td>
      </tr>
  <% end %>
</table>