<div class="box_style_2">
  <i class="icon_set_1_icon-57"></i>
  <h4>Besoin d'<span>Aide?</span></h4>
  <a href="tel://004542344599" class="phone">+45 423 445 99</a>
  <small>Lundi à Vendredi 9.00 - 17.30</small>
</div>