<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">
          <%= I18n.t('Hooks') %>
        </h4>
      </div>
      <div class="content">
        <%= render 'shared/not_in_beta' %>
      </div>
    </div>
  </div>
</div>