<% controller_name = params[:controller].split('/')[1] %>
<li>
  <%= react_component('Search', {tag: 'span'}) %>
</li>
<li>
  <%= link_to (controller_name == "brands" ? products_path : brands_path) do %>
      <span class="visible-lg-inline NavMainLinks__TextLink"> <%= t(controller_name == "brands" ? "Products" : "Brands") %> </span>
      <i class="visible-xs-inline visible-sm-inline ti-bar-chart"></i>
  <% end %>
</li>