<nav class="navbar navbar-default navbar-fixed-top">
  <% if flash[:notice] %>
	 <div class="notice <%=flash[:notice_class]%>"><%= flash[:notice] %></div>
	<% end %>
  <div class="announcing">
    Official launch (mars 2016)
  </div>
  <% if user_signed_in?.present? %>
  <%= render :partial => "/header/in" %>
  <% else %>
    <%= render :partial => "/header/out" %>
  <% end %>
</nav>
