<li>
  <%= link_to (root_path) do %>
    <i class="ti-android"></i>
  <% end %>
</li>
<li>
  <%= link_to (root_path) do %>
      <i class="ti-apple"></i>
  <% end %>
</li>
<li>
  <%= link_to I18n.t('Sign in'), user_session_path %>
</li>
<li>
  <%= link_to I18n.t('Sign up'), new_user_registration_path %>
</li>