// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboad__sideBar {
  padding: 0px,
}

.dashboad__MainContent {

}
.dashboad-nav {
  background-color: #40C27D;
}
.dashboad-nav__item{
  color : black;
  font-family: "proxima-nova","Helvetica","Verdana",sans-serif;
  color: #414B56;
  font-size: 12px;
  font-weight: 400;
  line-height: 49px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 0px none;
  position: relative;
  height: 100%;
  padding: 0px 12px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.2s ease 0s;
}
.dashboad-nav__item--active {

}
