.main-search {
  text-align: center;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}
.main-container {
  width: 70%;
  float : left ;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height : 100%;
}
.main-title {
  color : #928787;
  font-size: 22px;
  margin: 0px;
  padding: 25px;
  padding-top: 0px;
}
.main-title__inner {
  margin-top: 10px;
  display: block;
}

.main-title__inner * {
  font-size: 13px;
  color : orange;
}
.main-container__panel {
  clear: both;
  margin: 0px;
  display: inline-block;
  width: 30%;
  height: 100%;
}
.main-container__panel__inner {
  padding: 25px;
}
#navbar_search_input {
  width:  350;
  height : 40px;
}

#navbar_search_input , #navbar_search_button {
  margin: auto;
  font-size: 30px;
  color : #928787 ;
}

#navbar_search_button {
    height: 49px;
}
