/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= include_self
 */

body {
  direction: rtl;
  .pull-left {
    float: right !important;
  }

  .pull-right {
    float: left !important;
  }
}

.nav-wrapper {
  direction: ltr;
}

.row .col {
  float: right !important;
}

.main-panel {
  float: left;
}

.sidebar {
  right: 0;
}

.sidebar .nav li.active > a::after, .off-canvas-sidebar .nav li.active > a::after {
  left: -1px;
  border-left: 17px solid rgb(244, 243, 239);
  right: auto;
  border-right: 0px;
}

.sidebar .nav li.active > a::before, .off-canvas-sidebar .nav li.active > a::before {
  left: -1px;
  border-left: 17px solid rgb(244, 243, 239);
  right: auto;
  border-right: 0px;
}

.navbar-right {
  float: left !important;
  right: auto;
}

.navbar-header {

  float: right;
}

.navbar-nav {

  li {
    float: right;
    direction: ltr;
  }
}

.NavMainLinks {
  direction: rtl;
}

table {
  thead {
    th {
      text-align: right;
    }
  }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
  float: right;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  float: right;
}

.card form [class*="col-"]:first-child {
  padding-right: 15px;
}

.card form [class*="col-"]:last-child {
  padding-left: 15px;
}

.col-lg-offset-4 {
  margin-right: 33.33333333333333%
}

.navbar-right .dropdown-menu {
  right: -12px;
}

.DayTimer {
  margin-right: 1px;
  margin-left: -12px;
}