<!--  App Features Section  -->
	<section  class="container">
		<div class="row">
      <h2><%= I18n.t('Pricing') %> </h2>
			<div class="row l12 center">
				<div class="l4 col m4 animated wow fadeInDown" data-wow-delay="0s">
					<img src="/assets/welcome/f_icon1.png" alt="" title="">
					<h5 class="text-uppercase">malesuada fames turpis.</h5>
					<p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
				</div>
				<div class="l4  col m4 animated wow fadeInDown" data-wow-delay=".1s">
					<img src="/assets/welcome/f_icon2.png" alt="" title="">
					<h5 class="text-uppercase">malesuada fames turpis.</h5>
					<p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
				</div>
				<div class="l4 col m4 animated wow fadeInDown" data-wow-delay=".2s">
					<img src="/assets/welcome/f_icon3.png" alt="" title="">
					<h5 class="text-uppercase">malesuada fames turpis.</h5>
					<p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
				</div>
			</div>
			<div class="center">
				<a href="#request_business" class="btn text-uppercase animated wow fadeInLeft">
					<span> <%= I18n.t("request") %> </span>
				</a>
			</div>
		</div>
	</section>
