<div class="card">
  <div class="header">
    <h4 class="title"><h1>Editing Dashboard Brands Store</h1></h4>



<%= render 'form' %>

<%= link_to 'Show', @dashboard_brands_store %> |
    <%= link_to 'Back',  dashboard_brand_brand_stores_path(@brand) %>
    </div>
  </div>