<p id="notice"><%= notice %></p>
    <p>
      <strong>Name:</strong>
      <%= @store.name %>
    </p>
<%= link_to 'Edit', edit_dashboard_brand_store_path(@brand,@store) %> |
<%= link_to 'Back',  dashboard_brand_stores_path(@brand) %>