	<!--  Footer Section  -->
	<footer>
		
		<p class="copyright animated wow fadeIn" data-wow-duration="2s">© 2015,a <a href="http://pluto.sp" target="_blank"><strong>Pltuo, inc.</strong></a>. All Rights Reserved</p>
    <%= link_to "business",  company_page_path("business") %> | <%= link_to "investor",  company_page_path("investor") %> |  <%= link_to "about",  company_page_path("about") %>

	</footer>
	<!--  End Footer Section  -->
