	<!--  Footer Section  -->
	<footer>
		<p class="copyright animated wow fadeIn" data-wow-duration="2s">© 2015, a <a href="/company/pluto" target="_blank"><strong>Pltuo, inc </strong></a> application. All Rights Reserved</p>
    <%= link_to "business",  company_page_path("business") %>  |  <%= link_to "about",  company_page_path("about") %> || <%= link_to "investor",  company_page_path("pluto") %>
		<div class="social">
      <ul class="list-unstyled list-inline">
        <li class="animated wow fadeInRight" data-wow-delay=".2s"><a href="#"><img src="/assets/welcome/facebook.png" alt="" title=""></a></li>
        <li class="animated wow fadeInRight" data-wow-delay=".1s"><a href="#"><img src="/assets/welcome/twitter.png" alt="" title=""></a></li>
        <li class="animated wow fadeInRight" data-wow-delay="0s"><a href="#"><img src="/assets/welcome/google.png" alt="" title=""></a></li>
      </ul>
    </div>
	</footer>
	<!--  End Footer Section  -->
